{% extends "base.html" %}

{% block content %}

    <div class="container mt-4">
        <h1 class="text-left">Select Model and Image</h1>

        <form method="post" novalidate>
            <div class="mb-3">
                <h4 class="text-left">Model:</h4>
                <select name="model_id" class="form-select w-50">
                    {% for model in models %}
                        <option value="{{ model }}">{{ model }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <h4 class="text-left">Image:</h4>
                <select name="image_id" class="form-select w-50">
                    {% for image in images %}
                        <option value="{{ image }}">{{ image }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
{% endblock %}
