{% extends "base.html" %}

{% block content %}

    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin-top: 20px;
        }
    </style>

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div class="card p-3">
                    <h5 class="text-left">Selected Image</h5>
                    <img class="large-front-thumbnail"
                         src="{{ 'static/imagenet_subset/'+image_id }} "
                         alt="{{ image_id }}"/>
                </div>
            </div>

            <div class="col">
                <div class="card p-3">
                    <h5 class="text-left">Classification Output</h5>
                    <canvas id="classificationOutput"
                            style="width: 100%; height: 300px; margin: auto; padding: 20px;"></canvas>
                    <div class="align-items-center">
                        <h2 id="waitText"></h2>
                    </div>
                </div>
                <a class="btn btn-secondary mt-3" href="/editor" role="button">Back</a>
                <a class="btn btn-secondary mt-3" onclick="downloadPLOT('classificationOutput')" role="button"
                   style=" padding-left: 10px; background-color: darkslategray ">Dowload Plot
                </a>
                <a class="btn btn-secondary mt-3" onclick="downloadJSON('classificationOutput')" role="button"
                   style=" padding-left: 10px; background-color: darkslategray ">Dowload Results
                </a>
            </div>
        </div>
    </div>

    <script src="{{ 'static/graph.js' }}" id="makeGraph" classification_scores="{{ classification_scores }}"></script>
    <script src="/static/downloads.js"></script>
{% endblock %}