{% extends "base.html" %}

{% block content %}

    <script>
        /**
         * Highlights the current webpage in the navbar
         * */
        var current_bar = document.getElementById("homebar");
        if (current_bar) {
            current_bar.classList.add('active');
        }
    </script>


    <div class="container mt-4">
        <h1 class="text-left">Welcome to Image Classification</h1>

        <p class="mt-3">
            This service provides output scores for popular deep learning models from the
            <strong>Torchvision Model Zoo</strong>. Beyond classification, our platform offers
            powerful tools to enhance and analyze your images.
            With this application, you can adjust image parameters, generate histograms, and
            download processed results in <strong>JPEG</strong> or <strong>JSON</strong> formats.
        </p>

        <h4 class="text-left">Site Features</h4>
        <ul class="text-left">
            <li><strong>Model Classification:</strong> Get output scores from popular models in the
                Torchvision Model Zoo.
            </li>
            <li><strong>Image Editing:</strong> Adjust image parameters such as <em>color, brightness, contrast, and
                sharpness</em> before processing.
            </li>
            <li><strong>Histogram Calculation:</strong> Generate histograms to analyze the <strong>distribution of pixel
                intensity values</strong> in RGB channels.
            </li>
            <li><strong>Image Upload & Processing:</strong> Upload custom images for classification and enhancement.
            </li>
            <li><strong>Download Results:</strong> Save processed images and histograms in <strong>JPEG</strong> or
                <strong>JSON</strong> format.
            </li>
            <li><strong>Model & Image Selection:</strong> Choose from a variety of preloaded models and sample images.
            </li>
        </ul>

        <p class="mt-4">
            To explore the list of available models and images, click
            <a href="{{ url_for('info') }}">here</a>.
        </p>
    </div>


{% endblock %}
